* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: normal;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #181821;
    
}

header {
    width: 100%;
    position: fixed;
    border: 1px solid red;
}

h1 {
	font-family: "Ephesis", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 7.5em;
	text-align: center;
	color: whitesmoke;
	top: 0%;
	margin: 0;
	padding: 0;
	z-index: 10;
}

.button {
    border: 1px solid whitesmoke;
    display: inline;
    position: absolute;
    top: 15%;
    right: 1%;
}

.button a {
    background-color: #DFAB44;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
}
