* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 500vh;
	background-color: #181821;
	position: relative;
}

h1 {
	font-family: "Ephesis", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 7.5em;
	text-align: center;
	position: fixed;
	color: whitesmoke;
	top: 0%;
	margin: 0;
	padding: 0;
	z-index: 10;
}

.planet {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 60%;
	width: 75%;
	height: 75%;
	z-index: -1;
	transition: transform 0.3s ease-out;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

#planet-frame {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	color: #333;
	z-index: 10;
}

section.testi {
	width: 30%;
	border: 1px solid red;
	position: absolute;
	right: 0;
}

.scroll-div {
	opacity: 0;
	transition: opacity 1s ease-out;
	border: 1px solid rgba(255, 255, 255, 0.3);
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 7.5%;
	background: rgba(255, 255, 255, 0.315);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(245, 245, 245, 0.2);
	padding: 20px;
	z-index: 10;
}

.scroll-div.visible {
    opacity: 1;
}

#primo { width: 30%; }
#secondo { width: 40%;}
#terzo { width: 45%; } 

canvas {
	z-index: -5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

span#meme {
	font-family: inherit;
	display: none;
}

h3 {
	font-size: 1.5em;
}

.flex-container {
    display: flex;
    flex-direction: column; /* Gli elementi interni (h3 e button-container) saranno in colonna */
    align-items: center; /* Centra orizzontalmente gli elementi */
    width: 100%;
    height: 100%;
}

.button-container {
    display: flex; /* I bottoni all'interno saranno disposti in riga */
    justify-content: center; /* Centra orizzontalmente i bottoni */
    margin-top: 10px; /* Aggiunge spazio tra l'h3 e i bottoni */
}

a.button {
    text-decoration: none;
    color: #fff;
    background-color: #adadad;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Aggiunge spazio tra i bottoni */
}

span#comm {
	color: #CF6E0D;
	font-weight: bold;
}